# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/

# Local export helpers
export_script.py
project_export.txt
